/* ESTILOS GERAIS */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hidden {
    display: none;
}

.coluna{
    flex-basis: 47%;
    
}
/* BODY */
body {
    font-family: 'Open-sans', sans-serif;
}


/* HEADER */
header{
    background-color: #2f2f2fd9;
    padding: 30px 30px 0;
}

header .container{
    background-color: #2f2f2fd9;
}

header .linha{
    align-items: center;
    background-color: #2f2f2fd9;
}

header .coluna-esquerda {
    flex-basis: 30%;
}

header .coluna-direita{
    flex-basis: 65%;
    text-align: center;
}

header .coluna img {
    max-width: 100%; 
    
}

header .coluna h1{
    font-size: 1.7rem;
    color: #bd8d0e;
}

header .coluna p{
    font-size: 1rem;
    color: #39d801c9;
}

header .coluna ul{
    margin: 16px 0 0;
}

header .coluna ul li{
    padding: 0px 0px 10px;
}

header .coluna ul li a{
    font-size: 1rem;
    color: #fff;
}

/* FOOTER */

footer{
    background-color: #2f2f2fd9;
}

footer .container{
    background-color: #5a5a5a;
}

footer nav ul li a{
    color: white;
}

footer nav .info-contato {
    text-align: center;
    margin: -5px 0 -115px;
}

footer nav .info-contato li {
    margin: 5px 0px 20px;
}

footer nav .redes-sociais {
    display: flex;
    justify-content: center;
    margin: 150px 0 -15px;
    padding: 0 0 0;
    border-top: 2px solid #bd8d0e;
}

footer nav .redes-sociais li{
    margin: 20px;
    padding: 10px 0 0;
    text-align: center;
}

footer nav .redes-sociais li a{
    margin: 0 10px;
}

footer nav .redes-sociais li a img{
    max-width: 40px;
}

/* PÁGINA INICIAL */
main{
    background-color: #2f2f2fd9;
}

main .coluna{
    padding: 20px 20px 0px 20px;
    text-align: justify;
}
main .coluna-direita{
    
    text-align: justify;
}

main .coluna section{
    border-bottom: 1px solid #bd8d0e;
    margin: 0 0 20px;
    
}

main .coluna section h2{
    font-size: 1.3rem;
    color: #bd8d0e;
}

main .coluna section p {
    font-family: 0.9rem;
    color: white;
    line-height: 1.5rem;
    margin: 0 0 10px;
}

main .coluna section ul li{
    margin: 5px 0 12px;
    color: white;
   
}

main .coluna section ul li h3{
    color: #39d801c9;
    
}

main .coluna section ul li strong{
    font-weight: 500;
    margin: 5px 0 10px;
    display: inline-block;
    
}

/* EXTRAS */



/* @MÉDIA */

@media only screen and (min-width: 768px){
    .linha {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    }

    header{
    padding: 30px 0 0;
    }
    header .coluna img {
        width: 100%; 
        margin: 0px 15px;
        border-radius: 100%;
    }
    .container{
        width: 100%;
        max-width: 1040px;
        margin: 0px auto;
        padding: 30px;
        background-color: #2f2f2fd9;
    }
    header .coluna-direita{
        text-align: left;    
    }
    main .coluna section{
        border: 1px solid #bd8d0e;
        padding: 20px;
        min-height: 217px;
    }
    main .coluna{
        padding: 0;
    }
    main .coluna section p {
        font-family: 0.9rem;
        color: white;
        line-height: 1.5rem;
    }
    footer nav .info-contato li{
        margin: 0 0 17px;
    }



}